[submodule "json"]
	path = external/json
	url = https://github.com/nlohmann/json.git
[submodule "catch"]
	path = external/catch
	url = https://github.com/philsquared/Catch.git
[submodule "chibios"]
	path = external/chibios
	url = git@github.com:vovets/ChibiOS.git
	branch = stable_17.6.x
[submodule "external/pycrc"]
	path = external/pycrc
	url = https://github.com/tpircher/pycrc.git
[submodule "external/printf"]
	path = external/printf
	url = git@github.com:eyalroz/printf.git
